body {
    margin: 0;
    min-height: 100vh;   /* Full viewport height */

    background-image: url("../static/background.jpg");
    background-size: cover;      /* Makes image cover entire page */
    background-position: center; /* Keeps image centered */
    background-repeat: no-repeat; /* Prevents tiling */
}



h1 {
    color: #333;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin:20px auto;
     
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
